.e-btn{
    background-color: rgb(211, 168, 26);
    border-radius: 10px; 
    color: white; 
    transition-duration: 0.4s;
}

.main-color {
    background-color: darkblue;
}

.navbar-dark .navbar-brand .brand-color {
    color: rgb(211, 168, 26);
}

.navbar-esports {
    background-color: rgb(0, 33, 71) !important;
}

.e-btn:hover {
    background-color: rgb(255, 199, 59);
    color: white;
}