[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
isort = "*"
flake8 = "*"
pylint = "*"
autopep8 = "*"
hypothesis = "*"
pytest = "*"
pyinstaller = "*"
doq = "*"
coverage = "*"
docutils = "*"
pytailwindcss = "*"

[packages]
setuptools = "*"
cbor = "*"
cbor2 = "*"
pyyaml = "*"
pillow = "*"
pywebview = "*"
qtpy = "*"
pyside6 = "*"

[requires]
python_version = "3"
