[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pysimplegui = "==4.60.1"
pylint = "*"
autopep8 = "*"
setuptools = "*"
coverage = "*"
pytest = "*"
doq = "*"
docutils = "*"
cbor = "*"
cbor2 = "*"
pyyaml = "*"
pyinstaller = "*"
pillow = "*"
ttkbootstrap = "*"
hypothesis = "*"

[requires]
python_version = "3"
