<div class="flex flex-col">
  <div class="my-1 mt-2 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Next Game</div>
        <div class="text-gray-500 dark:text-slate-300 italic text-xs">
          World Championship 2024
        </div>
        <div class="flex flex-row font-bold mt-10 text-3xl">
          <img
            class="w-20 text-white"
            src="{{ url_for('static', filename='img/hle-logo.webp') }}"
          />
          <div class="ml-4 place-self-center">Hanwha Life Esports (HLE)</div>
        </div>
        <div class="text-gray-500 mt-2 dark:text-slate-300">Record: 1-3</div>
        <button
          class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-10 w-full mt-4"
        >
          See team
        </button>
      </div>
    </div>
    <div
      class="w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Calendar</div>
        
      </div>
    </div>
  </div>
  <div class="my-1 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Recent results</div>
        <table class="table-auto w-full text-lg text-slate-100 my-10">
          <tbody>
            <tr
              class="bg-green-400 hover:bg-green-300 border-b border-slate-300 dark:border-slate-600 dark:bg-green-600 dark:hover:bg-green-500"
            >
              <td class="px-6">T1</td>
              <td class="text-right px-6">2-0</td>
            </tr>
            <tr
              class="bg-green-400 hover:bg-green-300 border-b border-slate-300 dark:border-slate-600 dark:bg-green-600 dark:hover:bg-green-500"
            >
              <td class="px-6">BLG</td>
              <td class="text-right px-6">2-1</td>
            </tr>
            <tr
              class="bg-red-400 hover:bg-red-300 border-b border-slate-300 dark:border-slate-600 dark:bg-red-600 dark:hover:bg-red-500"
            >
              <td class="px-6">FNC</td>
              <td class="text-right px-6">1-2</td>
            </tr>
            <tr
              class="bg-red-400 hover:bg-red-300 border-b border-slate-300 dark:border-slate-600 dark:bg-red-600 dark:hover:bg-red-500"
            >
              <td class="px-6">PNG</td>
              <td class="text-right px-6">0-2</td>
            </tr>
          </tbody>
        </table>
        <button
          class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-10 w-full bottom-full mt-4"
        >
          See all
        </button>
      </div>
    </div>
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Roster</div>
        <table
          class="table-auto w-full text-lg text-black my-8 dark:text-slate-100"
        >
          <tbody>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Top</td>
              <td class="px-6">BrokenBlade</td>
              <td class="px-6">85</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Jng</td>
              <td class="px-6">Yike</td>
              <td class="px-6">82</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Mid</td>
              <td class="px-6">Caps</td>
              <td class="px-6">92</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Adc</td>
              <td class="px-6">Hans Sama</td>
              <td class="px-6">89</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="px-6 uppercase font-bold">Sup</td>
              <td class="px-6">Mikyx</td>
              <td class="px-6">87</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">My statistics</div>
        <table
          class="table-auto w-full text-lg text-black my-8 dark:text-slate-100"
        >
          <tbody>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Wins</td>
              <td class="px-6 text-center">95</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Losses</td>
              <td class="px-6 text-center">23</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Avg. Team KDA</td>
              <td class="px-6 text-center">2.5</td>
            </tr>
            <tr class="border-b border-slate-300 dark:border-slate-600">
              <td class="uppercase font-bold">Avg. Game Time</td>
              <td class="px-6 text-center">28 min 35s</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div
    class="my-1 flex flex-col flex-items-center h-full 2xl:flex-row xl:flex-row lg:flex-row gap-2"
  >
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Championship results</div>
        <div class="text-gray-500 dark:text-slate-300 italic text-xs">
          World Championship 2024
        </div>
      </div>
    </div>
    <div
      class="py-5 w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700 hover:bg-slate-50 dark:hover:bg-slate-800"
    >
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-3">Team rankings</div>
        <div class="text-gray-500 dark:text-slate-300">Teams</div>
      </div>
    </div>
  </div>
</div>
