<div class="flex flex-col">
  <div class="my-1 mt-2 flex flex-col 2xl:flex-row xl:flex-row lg:flex-row gap-2">
    <div
      class="flex-grow w-full overflow-hidden shadow-md border bg-slate-100 border-gray-300 dark:bg-slate-900 dark:border-gray-700">
      <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-3">Inbox</div>
        <div class="flex items-center mt-3">

          <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <li class="me-2">
              <a href="#" class="inline-block px-4 py-3 text-white bg-blue-600 active" aria-current="page">Tab 1</a>
            </li>
            <li class="me-2">
              <a href="#"
                class="inline-block px-4 py-3 hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white">Tab
                2</a>
            </li>
            <li class="me-2">
              <a href="#"
                class="inline-block px-4 py-3 hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white">Tab
                3</a>
            </li>
            <li class="me-2">
              <a href="#"
                class="inline-block px-4 py-3 hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white">Tab
                4</a>
            </li>
            <li>
              <a class="inline-block px-4 py-3 text-gray-400 cursor-not-allowed dark:text-gray-500">Tab 5</a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>
