{% if player.role %} {% set role_colors = { 'support': 'bg-purple-500', 'mid':
'bg-blue-500', 'top': 'bg-indigo-500', 'jungle': 'bg-green-500', 'adc':
'bg-red-500' } %} {% set role_icons = { 'support': 'bi-headset', 'mid':
'bi-lightning-charge', 'top': 'bi-shield', 'jungle': 'bi-tree', 'adc':
'bi-crosshair' } %} {% set role_values = { 'top': 'top', 'jungle': 'jng', 'mid':
'mid', 'adc': 'adc', 'support': 'sup' } %}
<span
  class="{{ role_colors[player.role.value]|default('bg-gray-500') }} text-white text-xs font-bold uppercase tracking-wider px-2 py-1 rounded-full flex items-center"
>
  <i
    class="bi {{ role_icons[player.role.value]|default('bi-person') }} mr-1"
  ></i>
  {{ role_values[player.role.value]|upper }}
</span>
{% endif %}
