{% if player.overall %} {% if player.overall >= 95 %}
<i class="bi bi-star-fill text-yellow-400"></i>
<i class="bi bi-star-fill text-yellow-400"></i>
<i class="bi bi-star-fill text-yellow-400"></i>
<i class="bi bi-star-fill text-yellow-400"></i>
<i class="bi bi-star-fill text-yellow-400"></i>
{% else %} {% set star_rating = 5.0 * player.overall / 100 %} {% set
filled_stars = star_rating|round(0,'floor')|int %} {% set is_half_star_count =
"{:.2f}".format(star_rating).split('.')[1] %} {% set is_half_star_number =
is_half_star_count|int %} {% set is_half_star = is_half_star_number >= 5 %} {%
if is_half_star %} {% set half_star = 1 %} {% else %} {% set half_star = 0 %} {%
endif %} {% set empty_stars = 5 - filled_stars - (half_star) %} {% for i in
range(filled_stars) %}
<i class="bi bi-star-fill text-yellow-400"></i>
{% endfor %} {% if half_star %}
<i class="bi bi-star-half text-yellow-400"></i>
{% endif %} {% for i in range(empty_stars) %}
<i class="bi bi-star text-yellow-400"></i>
{% endfor %} {% endif %} {% endif %}
